@charset "utf-8";
@import "_normalize";
@import "_tailwind";

@font-face {
  font-family: 'Cooper Black';
  src: url('/fonts/cooper-black.woff') format('woff'),
   url('/fonts/cooper-black.ttf') format('truetype');
} 

.text-8xl {
  font-size: 6rem;
}

.text-pedro {
  color: #F70D1B;
}

.font-pedro {
  font-family: 'Cooper Black';
}
